<nav>
  <ul class="navul">
    <li class="navicon title">
      <span class="nava">Aaron Gilchrist</a>
    </li>
    <li class="navicon menu">
      <a class="nava">Amet</a>
    </li>
    <li class="navicon menu">
      <a class="nava">Sit</a>
    </li>
    <li class="navicon menu">
      <a class="nava">Dolor</a>
    </li>
    <li class="navicon menu">
      <a class="nava">Ipsum</a>
    </li>
    <li class="navicon menu">
      <a class="nava">Lorem</a>
    </li>
    <li class="navicon menu">
      <a href="index.html" class="nava">Home</a>
    </li>
  </ul>
</nav>
